#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  field-sizing: content;
  min-width: 400px;
  min-height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

hr {
  width: 100%;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  border: none;
  border-bottom: 1px dashed;

  &::after {
    content: '↓↓↓';
    font-size: large;
    background: #fff;
    position: relative;
    top: -10px;
  }
}
